@import "../../../styles/common";

.slide-details-container {
  padding: 10px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 0.5px;
  z-index: 1000;
  max-width: 600px;
  margin-bottom: 70px;

  .annotation-label {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
  }

  .ant-collapse-content-box {
    padding-top: 0;
  }

  .shape-box {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .shape-box svg {
    width: 16px;
    height: 16px;
  }

  .ant-collapse {
    background-color: white !important;
  }

  .ant-collapse-item {
    .ant-collapse-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 600;
      .ant-collapse-expand-icon {
        order: 1;
        transform: rotate(270deg);
        padding: 0px;
      }
      .ant-collapse-item-active & {
        padding-bottom: 0;
      }
      .ant-collapse-expand-icon span {
        font-size: larger !important;
      }
    }
    .ant-collapse-content.ant-collapse-content-active {
      border: none !important;
    }

    &.ant-collapse-item-active {
      .ant-collapse-header .ant-collapse-expand-icon {
        transform: rotate(0deg);
        color: blue !important;
      }
      .ant-collapse-header {
        padding-bottom: 0px !important;
      }
    }
  }
  .description-container {
    margin-top: 10px;
  }
  .description-text {
    margin-block: 7px;
    font-weight: 400;
    font-size: 16px;
    font-family: "Inter", sans-serif;
  }

  .description-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
  }
}

.table-responsive {
  overflow-x: auto;
}

.annotation-table {
  width: 60%;
  border-collapse: separate;
  flex-direction: column;
}

.table-heading {
  flex: 1;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.table-cell {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 2px 0px;
  min-width: 100px;
  max-width: 200px;
  white-space: nowrap;
  flex: 1;
  text-align: left;
  word-break: break-word;
  white-space: normal;
}

.row-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1024px) {
  .annotation-table {
    width: 100%;
  }

  .table-heading,
  .table-cell {
    font-size: 12px;
    min-width: auto;
    max-width: none;
    flex: 1;
  }

  .row-section {
    flex-wrap: wrap;
    gap: 5px;
  }
  .shape-box {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.annotation-table-complete {
  width: 100%;
}

.annotation-section {
  display: grid;
  grid-template-columns: 130px 130px 130px 240px 130px;
  align-items: center;
  width: fit-content;
}

.annotation-heading {
  text-align: left;
}

.annotation-count-color {
  color: $warning-yellow;
}

.ai-annotation-count-color {
  color: $tag-blue;
}

.case-id {
  font-weight: 600;
}

.status-box {
  @include flexBox(row, center, center);

  border-radius: 80px;
  min-width: 80px;
  max-width: 150px;
  height: 20px;
  border: 1px solid $dark-success-green;
  color: $dark-success-green;
  background-color: transparent;
  font-size: 10px;
  font-weight: 600;
}
.organ-box {
  border-radius: 15px;
  padding: 5px 12px;
  text-align: center;
  height: 10px;
  width: 80px;
  font-size: 10px;
  font-weight: 600;
  border: 1px solid $dark-success-green;
  color: $dark-success-green;
  margin-right: 4px;
}

.annotation-detail-section {
  margin-top: 10px;
  .search-info {
    border-radius: 12px;
    margin-top: 0px;
    .annotation-text {
      margin-left: 20px;
      padding-top: 10px;
    }
    .search-details {
      background-color: $lighter-gray;
      border-radius: 12px;
      margin-top: 10px !important;
      min-width: 250px;
      flex: 1 1 45%;
      display: flex;
      gap: 40px;
      margin-bottom: 17px;

      .search-avatar {
        height: 44px;
        width: 44px;
        margin-left: 20px;
      }

      .search-info {
        .annotator-name {
          font-size: 14px;
          font-weight: 600;
          margin-top: 0px !important;
        }

        .annotator-designation {
          font-size: 12px;
          font-weight: 400;
          color: $dark-gray;
        }
      }
    }
  }
}

.organ-list {
  display: flex;
  gap: 12px;
}

@media (max-width: 1440px) {
  .organ-list {
    flex-direction: column;
  }
}
.search-details-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  .annotated-box {
    background-color: $lighter-gray;
    border-radius: 16px;
  }
}
